# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
#
# NOTE: This workflow is overkill for most R packages and
# check-standard.yaml is likely a better choice.
# usethis::use_github_action("check-standard") will install it.
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (tf-${{ matrix.config.tf }}, R-${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: 'macOS-latest'  , r: 'release'}

          - {os: 'windows-latest', r: 'release'}

          - {os: 'ubuntu-latest', r: 'devel', http-user-agent: 'release'}
          - {os: 'ubuntu-latest', r: 'release'}
          - {os: 'ubuntu-latest', r: 'oldrel-1'}
          - {os: 'ubuntu-latest', r: 'oldrel-2'}
          - {os: 'ubuntu-latest', r: 'oldrel-3'}
          - {os: 'ubuntu-latest', r: 'oldrel-4'}

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      TORCH_TEST: 1
      TORCH_INSTALL: 1

    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        id: setup-r
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}

      - name: Install system dependencies
        if: runner.os == 'Linux'
        shell: bash
        run: |
          . /etc/os-release
          while read -r cmd
          do
            echo "$cmd"
            sudo $cmd
          done < <(Rscript -e "writeLines(remotes::system_requirements('$ID-$VERSION_ID'))")

      - name: Install dependencies
        run: |
          install.packages("remotes")
          remotes::install_local(dependencies = TRUE)
          remotes::install_cran("rcmdcheck")
        shell: Rscript {0}

      - name: Install Miniconda
        run: reticulate::install_miniconda()
        shell: Rscript {0}

      - name: Install Tensorflow + Keras deps
        run: keras::install_keras(tensorflow = '${{ matrix.config.tf }}-cpu')
        shell: Rscript {0}

      - name: Check if torch is installed
        run: |
          library(torch)
          if (!torch_is_installed()) {
            print("Torch is not installed!")
            install_torch()
          }
          print(torch_randn(1))
        shell: Rscript {0}

      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
