# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
#
# NOTE: This workflow is overkill for most R packages and
# check-standard.yaml is likely a better choice.
# usethis::use_github_action("check-standard") will install it.
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: R-CMD-check

defaults:
  run:
    shell: Rscript {0}

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (tf-${{ matrix.config.tf }}, R-${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: 'ubuntu-20.04',   tf: 'default', r: 'devel', http-user-agent: 'release'}

          - {os: 'ubuntu-20.04'  , tf: 'default', r: 'release'}
          - {os: 'windows-latest', tf: 'default', r: 'release'}
          - {os: 'macOS-latest'  , tf: 'default', r: 'release'}

          - {os: 'ubuntu-20.04'  , tf: 'default', r: 'oldrel'}
          - {os: 'windows-latest', tf: 'default', r: 'oldrel'}
           # Use 3.6 to trigger usage of RTools35
          - {os: 'windows-latest', tf: 'default', r: '3.6'}

          - {os: 'ubuntu-20.04',   tf: 'default', r: 'oldrel-1'}
          - {os: 'ubuntu-20.04',   tf: 'default', r: '3.6'}
          - {os: 'ubuntu-20.04',   tf: 'default', r: '3.5'}

          - {os: 'ubuntu-20.04', tf: '2.8', r: 'release'}
          - {os: 'ubuntu-20.04', tf: '2.7', r: 'release'}
          - {os: 'ubuntu-20.04', tf: '2.6', r: 'release'}
          - {os: 'ubuntu-20.04', tf: '2.5', r: 'release'}
          - {os: 'ubuntu-20.04', tf: '2.4', r: 'release'}

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: 'true'
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      TORCH_TEST: 1

    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-pandoc@v1

      - uses: r-lib/actions/setup-r@v2
        id: setup-r
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - name: Get Date
        id: get-date
        shell: bash
        run: |
          echo "::set-output name=year-week::$(date -u "+%Y-%U")"
          echo "::set-output name=date::$(date -u "+%F")"

      - name: Restore R package cache
        uses: actions/cache@v2
        id: r-package-cache
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ matrix.config.os }}-${{ steps.setup-r.outputs.installed-r-version }}-${{ steps.get-date.outputs.year-week }}

      - name: Install remotes
        if: steps.r-package-cache.outputs.cache-hit != 'true'
        run: install.packages("remotes")

      - name: Install system dependencies
        if: runner.os == 'Linux'
        shell: bash
        run: |
          . /etc/os-release
          while read -r cmd
          do
            echo "$cmd"
            sudo $cmd
          done < <(Rscript -e "writeLines(remotes::system_requirements('$ID-$VERSION_ID'))")

      - name: Install RcppTOML for windows and R3_6
        if: matrix.config.os == 'windows-latest' && matrix.config.r == '3.6'
        run: remotes::install_version("RcppTOML", version = "0.1.7")

      - name: Install Package + deps
        run: remotes::install_local(dependencies = TRUE, force = TRUE)

      - name: Install Miniconda
        run: reticulate::install_miniconda()

      - name: Install Tensorflow + Keras deps
        run: keras::install_keras(tensorflow = '${{ matrix.config.tf }}-cpu')

      - name: Install LibTorch
        run: torch::install_torch()

      - name: Install rcmdcheck
        run: remotes::install_cran("rcmdcheck")

      - name: Check
        run: rcmdcheck::rcmdcheck(args = c('--no-manual', '--as-cran'), error_on = 'error', check_dir = 'check')

      - name: Show testthat output
        if: always()
        shell: bash
        run: find check -name 'testthat.Rout*' -exec cat '{}' \; || true

      - name: Upload check results
        if: failure()
        uses: actions/upload-artifact@main
        with:
          name: ${{ matrix.config.os }}-tf${{ matrix.config.tf }}-r${{ matrix.config.r }}-results
          path: check
